.main {
    padding: 10px;
    height: 100vh;
  }
  .layout {
    display: flex;
  }
  
  .sidebar {
    min-height: 100%;
    width: 300px;
    border-radius: 5px;
    background-color: rgba(21, 96, 24, 0.514);
    box-shadow: 0 0 2px gray;
    margin-right: 20px;
    color: white;
  }
  
  .content {
    width: 100%;
    height: 100%;
  }
  
  .header {
    height: 10vh;
    margin-bottom: 20px;
    box-shadow: 0 0 2px gray;
    background-color: white;
  }
  .body {
    height: 85vh;
    margin-bottom: 20px;
    box-shadow: 0 0 2px gray;
    background-color: white;
  }
  .logo h6 {
    font-size: 1.2rem;
    text-align: center;
    margin: 20px 0px;
  }
  .menu {
    margin-top: 50px;
  }
  .menu-item {
    margin-top: 30px;
  }
  .menu-item a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  .menu-item i {
    font-size: 1.2rem;
    margin: 0 15px;
  }
  .active {
    background-color: white;
    padding: 10px;
  }
  .active a,
  .active i {
    color: #01796F;
  }

  .header-content{
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: flex-end;
    margin: 0 15px; 
  }

  .header-content i{
    margin: 20px;
    font-size: 1.2rem;
  }

  .header-content a{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    margin: 0 10px;
    text-transform: uppercase;
  }

  /* Add these styles to your existing stylesheet or create a new one */

/* Style for the logo image */
.logo img {
  max-width: 100%; /* Make sure the image doesn't exceed its container */
  height: 180px; /* Maintain the aspect ratio of the image */
  border-radius: 0%; /* Add rounded corners to the image (adjust as needed) */
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

/* Optional: Add some spacing around the logo */
.logo {
  /* padding: 10px; */
  text-align: center;
}
